:root {
    /* colors */
    --Cyan-600: #4D96A9;
    --Cyan-300: #8FE3F9;

    --Purple-600: #855FB1;
    --Purple-300: #D9B8FF;

    --Slate-900: #28283D;
    --Slate-600: #87879D;
    --Slate-300: #D1D1DF;

    --White: #fff;

    /* fonts */
    --Font-Family: "Red Hat Display", sans-serif;
    --Font-Wight-black: 900;
    --Font-Weight-medium: 500;

    /* spacing */
    --Spacing-1400: 7rem;
    --Spacing-1000: 5rem;
    --Spacing-900: 4.5rem;
    --Spacing-800: 4rem;
    --Spacing-700: 3.5rem;
    --Spacing-500: 2.5rem;
    --Spacing-400: 2rem;
    --Spacing-300: 1.5rem;
    --Spacing-200: 1rem;
    --Spacing-100: 0.5rem;
    --Spacing-50: 0.25rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--Font-Family);
    font-weight: var(--Font-Weight-medium);
    letter-spacing: 0;
    line-height: 110%;

    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 100%;
    overflow: hidden;
}

.container-logo {
    margin-top: 80px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;

    margin-top: 200px;
}

.photos_text {
    margin: 0 auto;
    margin-top: var(--Spacing-800);
    gap: 16px;
    max-width: 27.5rem;
}

.images img {
    width: 100%;
    border-radius: 0.5rem;
}

.tag {
    color: var(--Cyan-600);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
}

h2 {
    color: var(--Slate-900);
    font-size: var(--Spacing-500);
    font-weight: 900;
}

p {
    font-size: 1.125rem;
    color: var(--Slate-600);
    line-height: 150%;
}

.tablet-phone-img {
    display: none;
}

.desktop-img {
    display: block;
    position: absolute;
    max-width: 18.75rem;
}

.desktop-img-left {
    top: auto;
    left: -3%;
}

.desktop-img-right {
    top: auto;
    right: 3%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%
}

.flex-center {
    display: grid;
    justify-items: center;
}

.main-idea {
    max-width: 33.75rem;
    gap: var(--Spacing-400);
}

.main-message {
    position: relative;
    margin-top: var(--Spacing-800);
    margin-bottom: var(--Spacing-800);
}

.main-text {
    color: var(--Slate-900);
    font-weight: 900;
    font-size: var(--Spacing-800);
}

.main-paragraph {
    font-size: 1.125rem;
    line-height: 150%;
}

.button {
    display: inline-block;
    padding: var(--Spacing-200) var(--Spacing-500);
    border-radius: 1.813rem;
    cursor: pointer;
    transition: background-color ease-in-out .4s;
}

.button a, .button span {
    text-decoration: none;
    width: 100%;
    color: var(--White);
    font-weight: 900;
    font-size: var(--Spacing-200);
}

.button-purple {
    background-color: var(--Purple-600);
}

.button-purple span {
    color: var(--Purple-300);
}

.button-cyan:first-child {
    margin-right: 1.063rem;
}

.button-purple:hover {
    background-color: #B18BDD;
}

.button-cyan {
    background-color: var(--Cyan-600);
}

.button-cyan span {
    color: var(--Cyan-300);
}

.button-cyan:hover {
    background-color: #71C0D4;
}

.wrapper-footer {
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--Spacing-400);
    justify-content: space-between;
}

.wrapper-footer>* {
    text-align: start;
}

footer {
    background-color: var(--Cyan-600);
    position: relative;
    z-index: 1;
    height: 18rem;

    margin-top: 6.75rem;
}

footer > section > *  {
    color: var(--White);
}

footer::before {
    content: "";
    background-image: url(./assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position-y: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    opacity: 0.2;
    z-index: -5;
}

.footer-heading {
    flex-basis: 27.813rem;
}

.footer-paragraph {
    flex-basis: 22.188rem;
}

.parent-bubble {
    position: relative;
}

.bubble {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 9;
}

.gallery-container {
    margin-bottom: 4.5rem;
}