*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--Font-Family);
    font-weight: var(--Font-Weight-medium);
    letter-spacing: 0;
    line-height: 110%;

    text-align: center;
}

:root {
    /* colors */
    --Cyan-600: #4D96A9;
    --Cyan-300: #8FE3F9;

    --Purple-600: #855FB1;
    --Purple-300: #D9B8FF;

    --Slate-900: #28283D;
    --Slate-600: #87879D;
    --Slate-300: #D1D1DF;

    --White: #fff;

    /* fonts */
    --Font-Family: "Red Hat Display", sans-serif;
    --Font-Wight-black: 900;
    --Font-Weight-medium: 500;

    /* spacing */
    --Spacing-1400: 112px;
    --Spacing-1000: 80px;
    --Spacing-900: 72px;
    --Spacing-800: 64px;
    --Spacing-700: 56px;
    --Spacing-500: 40px;
    --Spacing-400: 32px;
    --Spacing-300: 24px;
    --Spacing-200: 16px;
    --Spacing-100: 8px;
    --Spacing-50: 4px;
}

.text-preset-1 {
    font-size: 64px;
}

.text-preset-2 {
    font-size: 40px;
}

.text-preset-3 {
    font-size: 16px;
    letter-spacing: 4px;
}

.text-preset-4 {
    font-size: 18px;
}


.text-preset-5 {
    font-size: 16px;
    line-height: 150%;
}

/* ! SECTION */

section {
    margin-left: var(--Spacing-400);
    margin-right: var(--Spacing-400);
    padding-bottom: var(--Spacing-800);
}

/* ! Logo  */

.logo{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* images */

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 64px;
    margin-top: 64px;
}

.images img {
    width: 100%;
    border-radius: 8px;
}

/* conteiner header */

.container__header {
    text-align: center;
}

.container__header h1 {
    margin-bottom: 24px;
    font-weight: 900;
}

/* buttons */

.button {
    padding: 16px 40px;
    border-radius: 29px;
    background-color: var(--Purple-600);
    cursor: pointer;
    transition: background-color ease-in-out .4s;
}

.button:hover {
    background-color: #B18BDD;
}

.button a {
    text-decoration: none;
    color: var(--White);
    width: 100%;
}
 
.container__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.button-cyan {
    background-color: var(--Cyan-600);
}

.button-cyan:hover {
    background-color: #71C0D4;
}

.button-cyan span {
    color: var(--Cyan-300);
}

/* background header */

.image_faces {
    background-image: url("./assets/tablet/image-hero.png");
    width: 100%;
    height: 200px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: top center;
}

.bubble {
    display: flex;
    justify-content: center;
}

.tag {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: var(--Font-Wight-black);
    color: var(--Cyan-600);
}

h2 {
    font-size: 32px;
    font-weight: var(--Font-Wight-black);
    padding-top: 16px;
    padding-bottom: 16px;
}

.explaination {
    font-size: 16px;
}

.footer {
    color: var(--White);
    background-image: url("./assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    margin: 0;
}

@media screen and (min-width: 768px){
    .images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .image_faces {
        height: 400px;
        background-size: 110%;
        background-position: center center;
    }

    .footer {
        background-image: url("./assets/tablet/image-footer.jpg");
    }
}

@media screen and (min-width: 1440px){
    
}